<section class="container py-3">
  <div class="flex flex-col p-4">
    <h3 class="text-start text-3xl">Acerca de nosotros</h3>
    <div class="w-full h-96 overflow-hidden">
      <img class="w-full" src="men/item9.svg" alt="Imagen">
    </div>
    <div class="flex py-4 gap-6">
      <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-md md:p-6 flex-1">
        <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0 flex-col p-4">
          <h3 class="text-3xl">Misión</h3>
          <p class="text-justify">Ser la tienda departamental líder en moda y
            tendencias para todas las edades, ofreciendo
            una experiencia de compra inspiradora, conveniente
            y accesible que se adapte a los estilos de vida
            modernos de nuestros clientes, promoviendo calidad
            y estilo en cada artículo.</p>
        </div>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-md md:p-6 flex-1">
        <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0 flex-col p-4">
          <h3 class="text-3xl">Visión</h3>
          <p class="text-justify">Brindar a nuestros clientes una amplia selección de ropa,
            calzado y accesorios de alta calidad para niños, hombres y
            mujeres. En Click-and-Trend, nos comprometemos a ofrecer
            productos innovadores y a la moda, con un servicio excepcional
            que haga de cada visita una experiencia única y satisfactoria.</p>
        </div>
      </div>
    </div>

  </div>


</section>
